@use "variables";

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin respond($device) {
  @if $device == desktop {
    @include media-breakpoint-down(variables.$breakpoint-desktop) {
      @content;
    }
  } @else if $device == laptop {
    @include media-breakpoint-down(variables.$breakpoint-laptop) {
      @content;
    }
  } @else if $device == tablet {
    @include media-breakpoint-down(variables.$breakpoint-tablet) {
      @content;
    }
  } @else if $device == mobile {
    @include media-breakpoint-down(variables.$breakpoint-mobile) {
      @content;
    }
  }
}

@mixin title(
  $max-width,
  $font-weight,
  $font-size,
  $line-height,
  $letter-spacing,
  $text-color
) {
  width: 100%;
  max-width: $max-width;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $text-color;
  white-space: pre-line;
}

@mixin paragraph($text-width, $text-color) {
  max-width: $text-width;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: variables.$blue-color-first;
  white-space: pre-line;
}

@mixin text(
  $font-weight,
  $font-size,
  $line-height,
  $letter-spacing,
  $text-color
) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $text-color;
}

@mixin cta-button(
  $bg-color,
  $text-color,
  $padding,
  $font-size,
  $border-radius: 1rem
) {
  background-color: $bg-color;
  color: $text-color;
  padding: $padding;
  border: none;
  border-radius: $border-radius;
  font-size: $font-size;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 5px 10px 20px 0 rgba(53, 110, 173, 0.2);

  &:hover {
    transform: translateY(-2px);
  }
}
