$primary-font: "Gilroy", sans-serif;
$secondary-font: "Galien", sans-serif;

$white-color: #FFFFFF;

$blue-color-first: #1f3f68;
$blue-color-second: #316099;
$blue-color-third: #356ead;
$blue-color-four: #5A98D0;