$primary-font: "Gilroy", sans-serif;
$secondary-font: "Galien", sans-serif;

$white-color: #ffffff;

$blue-color-first: #1f3f68;
$blue-color-second: #316099;
$blue-color-third: #356ead;
$blue-color-four: #5a98d0;




$breakpoint-desktop: 1200px;
$breakpoint-laptop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
