@use "../mixins";
@use "../variables";

.clients {
  padding: 12rem 0;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    position: relative;
    z-index: 2;
  }

  &__header {
    display: flex;
    gap: 12rem;
  }

  &__title {
    font-size: 4.5rem;
    line-height: 128%;
    letter-spacing: 0.05em;
    color: #ffffff;
    max-width: 227px;
  }

  &__description {
    font-size: 2rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.85);
    max-width: 523px;
    letter-spacing: 0.05em;
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__logo {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: 0.01em;
    line-height: 230%;
    text-align: center;
    color: #ffffff;
    padding: 5rem;
    transition: background 0.3s;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &--more {
      background: rgb(78 134 187);
      font-weight: 600;
    }

    &:nth-child(-n + 4) {
      border-top: none;
    }
    &:nth-child(4n) {
      border-right: none;
    }
    &:nth-child(4n + 1) {
      border-left: none;
    }
    &:nth-last-child(-n + 4) {
      border-bottom: none;
    }
  }
}
