@use "../variables.scss";

.header {
  width: 100%;
  padding: 5rem 0rem;
  position: absolute;
  z-index: 10;

  &__container {
    max-width: 1232px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 2rem;
  }
}
