@use "../variables.scss";
@use "../mixins.scss";

.hero {
  position: relative;
  padding: 24rem 0;
  overflow: hidden;

  @include mixins.respond(tablet) {
    padding: 14rem 0;
  }

  @include mixins.respond(mobile) {
    padding: 12rem 0;
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      0deg,
      #98c3e8 28.39%,
      rgba(152, 195, 232, 0) 100%
    );
    opacity: 0.2;
    z-index: 0;
    height: 20rem;
  }

  &__container {
    position: relative;
    z-index: 1;

    @include mixins.respond(tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
      flex-direction: column;
      text-align: center;
    }
  }

  &__text-column {
    position: relative;
    z-index: 2;

    @include mixins.respond(tablet) {
      max-width: 100%;
    }
  }

  &__title {
    font-family: variables.$secondary-font;
    @include mixins.title(
      512px,
      700,
      8rem,
      116%,
      0.04em,
      variables.$blue-color-first
    );

    margin-bottom: 4rem;

    @include mixins.respond(desktop) {
      font-size: 6rem;
    }

    @include mixins.respond(laptop) {
      font-size: 4.5rem;
    }

    @include mixins.respond(tablet) {
      line-height: 120%;
      text-align: center;
      width: 100%;
      max-width: none;
    }

    @include mixins.respond(mobile) {
      font-size: 3rem;
      text-align: center;
    }
  }

  &__description {
    @include mixins.paragraph(425px, variables.$blue-color-first);
    margin-bottom: 9rem;

    @include mixins.respond(laptop) {
      max-width: 100%;
      font-size: 1.6rem;
    }

    @include mixins.respond(tablet) {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 4.5rem;
    }
    @include mixins.respond(mobile) {
      font-size: 1.5rem;
      margin-bottom: 4.5rem;
    }
  }

  .button {
    &--cta {
      @include mixins.cta-button(
        variables.$blue-color-four,
        variables.$white-color,
        2rem 6rem,
        2rem
      );

      @include mixins.respond(laptop) {
        padding: 1.5rem 4rem;
      }

      @include mixins.respond(tablet) {
        padding: 1.2rem 3rem;
        width: 100%;
      }
    }
  }

  &__illustration {
    position: absolute;
    bottom: -19rem;
    right: -23rem;
    z-index: -1;

    @include mixins.respond(desktop) {
      right: -15rem;
      bottom: -22rem;
      max-width: 70%;
    }

    @include mixins.respond(laptop) {
      right: -10rem;
      bottom: -27rem;
      max-width: 80%;
    }

    @include mixins.respond(tablet) {
      position: static;
      margin-top: 4rem;
      max-width: 100%;
    }

    @include mixins.respond(mobile) {
      margin-top: 8rem;
      width: 100%;
    }
  }
}
